<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">

    <title>Attendance System</title>
  </head>
  <body background="https://wallpaper.dog/large/20525663.jpg">
    <div class="container-fluid">
      <div class="row justify-content-center" style="margin-top: 3%;">
        <div>
          <h1 style="text-align: center;font-family: 'Mouse Memoirs', sans-serif; margin-bottom: 30px; color: #d0e0eb; font-size: 5vw;">
            **********ATTENDANCE PROCESS**********
          </h1>
        </div>
        <div class="col-5 ">
          <form method="post"  action="{% url 'attendence' %}">
              {% csrf_token %}
              
      
              <label for="lname" style="font-family: 'Mouse Memoirs', sans-serif; font-size: 25px; color: #d0e0eb;">Student ID</label>
              <input type="text" class="form-control" placeholder="Enter ID..." style=" font-size: 20px;background-color: #c1e4f0;color: black; font-weight: 600; border-width: 7px; border-color: #306a76;" id="lname" name="id" required><br>
      

              <label for="date" style="font-family: 'Mouse Memoirs', sans-serif; font-size: 25px; color: #d0e0eb;">DATE</label>
              <input type="date" class="form-control" placeholder="Enter date..." style=" font-size: 20px;background-color: #c1e4f0; color: black; font-weight:600;border-width: 7px; border-color: #306a76;" id="date" name="date" required><br>
      

              <button type="submit"  style="color: #c1e4f0; border-color: black; background-color: #306a76; font-size: 25px; border-radius: 2.25rem; border-width: 6px;font-family: 'Mouse Memoirs', sans-serif;
              ">Take A Picture And Submit</button>
            </form><br><br>
          
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>