<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">

    <title>Attendance System</title>
  </head>
  <body background="https://wallpaper.dog/large/20525663.jpg">
    
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-6 text-center ">
            <h2 style="font-family: 'Mouse Memoirs', sans-serif; color: #d0e0eb; margin-top: 12vw; font-size: 3vw;"> You Are Not Registered !!!</h2>
            <h2 style="font-family: 'Mouse Memoirs', sans-serif; color: #d0e0eb; margin-top: 4vw;margin-bottom: 2vw; font-size: 3vw;"> Register First Please...</h2>
          <form method="post"  action="{% url 'again_start' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-info" style="font-size: 44px; border-radius: 2.25rem; border-width: 10px;font-family: 'Mouse Memoirs', sans-serif;
            ">Go To Home Page</button>
          </form>   
        </div>
        
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>